include modules/html-head

.l-wrap
	.l-row
		input.menu-mobile-checkbox#menu_mobile_trigger("type=checkbox")
		label.menu-mobile-burger("for=menu_mobile_trigger")
		.l-col-xl-2.l-col-lg-0.menu-col
			aside.menu-wrap
				div.logo
					a(href="#!")
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.96 130.76")
							path(fill="#5a79de" d="M57.8.44a65.4,65.4,0,0,1,29,126.74A65.4,65.4,0,0,1,3.36,44.67C10.93,21,33.14,3.08,57.8.44ZM78.88,26.19C71.34,35,63.9,44,56.28,52.77l6.06,2.11c.26,6,.17,11.92.09,17.87-2.19.68-4.32,1.51-6.5,2.2Q65.61,87.3,75.21,99.71c1.64,2.08,3.1,4.36,5.13,6.09a24.78,24.78,0,0,0,8.8.16c2.47-.65,3-3.83,1.55-5.7-6-11.05-11.87-22.13-17.85-33.17-.64-1.54-2.06-3.24-1-4.9,5.19-11,11.31-21.61,16.52-32.63a3.32,3.32,0,0,0-2.25-4.88C83.71,24.51,80.52,23.89,78.88,26.19Zm-36,3.44c-.18,7.77,0,15.56-.07,23.33-1.51.6-3.05,1.17-4.5,1.92a112.33,112.33,0,0,0,.26,17.5,44.27,44.27,0,0,0,4.28,1.91c0,8.42-.09,16.84,0,25.25-.24,3.09,3.09,4.33,5.44,5.24,2.51,1.08,5.15-1.51,4.61-4.08q0-34,0-68.1C53.51,29,49.86,27,47,26A3.36,3.36,0,0,0,42.92,29.63Z")
							path(fill="#fff" d="M78.88,26.19c1.64-2.3,4.83-1.68,7.27-1.51a3.32,3.32,0,0,1,2.25,4.88c-5.21,11-11.33,21.6-16.52,32.63-1.1,1.66.32,3.36,1,4.9,6,11,11.9,22.12,17.85,33.17,1.44,1.87.92,5-1.55,5.7a24.78,24.78,0,0,1-8.8-.16c-2-1.73-3.49-4-5.13-6.09Q65.58,87.32,55.93,75c2.18-.69,4.31-1.52,6.5-2.2.08-6,.17-11.91-.09-17.87l-6.06-2.11C63.9,44,71.34,35,78.88,26.19Z")
							path(fill="#fff" d="M42.92,29.63A3.36,3.36,0,0,1,47,26c2.85,1,6.5,3,6,6.57q0,34.05,0,68.1c.54,2.57-2.1,5.16-4.61,4.08-2.35-.91-5.68-2.15-5.44-5.24-.11-8.41,0-16.83,0-25.25a44.27,44.27,0,0,1-4.28-1.91,112.33,112.33,0,0,1-.26-17.5c1.45-.75,3-1.32,4.5-1.92C43,45.19,42.74,37.4,42.92,29.63Z")
							path(fill="#fff" d="M210,44.51a30.91,30.91,0,0,1,28.77-9.08c5.5,1.14,10.19,4.47,14.38,8.07-2.74,3.23-5.42,6.51-8.12,9.77-3.58-3-7.93-5.78-12.82-5.31-6.3.34-11.74,5-13.82,10.86-2.54,6.65-2.37,14.17-.53,21,1.72,6.37,7.48,11.9,14.33,11.8,5.42.54,10.17-2.62,14-6.13,2.63,3.15,5.32,6.26,8,9.4-11,13.59-33.9,12.9-45.11,0-6.78-7.93-8.88-18.84-7.93-29A36.56,36.56,0,0,1,210,44.51Z")
							path(fill="#fff" d="M264.35,36.06c9,.06,17.93-.07,26.89,0,6.67.28,13.89,1.88,18.57,7,5.12,5.37,5.6,13.58,4,20.47-1.3,5.9-5.94,10.46-11.23,13,5.19,8.94,10.18,18,15.36,26.95-5.66,0-11.32,0-17,0-4.52-8-8.78-16.21-13-24.39-2.83,0-5.66,0-8.49,0,0,8.13,0,16.25,0,24.38H264.36Q264.33,69.81,264.35,36.06Zm15.13,12.13c0,6.29,0,12.57,0,18.86,5.18-.22,10.74.86,15.57-1.51,5.48-2.75,6.43-11.54,1.63-15.31C291.48,47.15,285.21,48.47,279.48,48.19Z")
							path(fill="#fff" d="M327.73,36.06H344.4c5.19,14.22,10.55,28.39,15.05,42.85,4.3-14.48,9.68-28.61,14.68-42.86h16.6v67.5H376.86c0-7.94,0-15.89,0-23.84-.06-8.18,1.25-16.29,1.89-24.43-5,14.13-10.07,28.26-15.43,42.27-2.71,0-5.42.13-8.12-.08-1.45-1.57-1.64-4-2.55-5.9-4.7-12-8.78-24.24-13.2-36.35.84,8.46,2.05,16.91,2.06,25.42,0,7.64,0,15.28,0,22.92H327.73Z")
							path(fill="#fff" d="M429.62,77.69h1.73v6h6l0,1.62c-2,0-4,0-6,0,.28,5.51-.58,11.17.43,16.6,1.3,2.94,5.09-.1,6.61,2.36-3,1.18-7.79,1.55-8.71-2.47-.73-5.46-.14-11-.32-16.51h-3.21c0-.36-.07-1.07-.1-1.43l3.4-.21C429.49,81.68,429.56,79.68,429.62,77.69Z")
							path(fill="#fff" d="M480.62,77.69h1.73c0,2,0,4,0,6h6l0,1.62h-6c.13,5.38-.27,10.79.19,16.16.92,2.62,4,1.88,6.09,1.63l.33,1.5c-2.82.72-7,1.12-8.16-2.36-1-5.56-.19-11.3-.44-16.94h-3.21c0-.36-.07-1.07-.1-1.43l3.36-.21C480.47,81.68,480.54,79.68,480.62,77.69Z")
							path(fill="#fff" d="M443.9,85.29c3-2.85,8.5-3,11.29.32,2.17,2.38,2.14,5.79,2.22,8.82-5.13,0-10.27,0-15.4,0,.33,3.43,1.77,7.37,5.34,8.55,3.06,1.25,6.18-.23,9-1.28-.74,3.45-5.44,3.61-8.31,3.28C439.4,103.33,437.68,90.64,443.9,85.29ZM442,92.8c4.54,0,9.09,0,13.64,0-.16-3.12-1.07-7-4.62-7.79C446.13,83.59,442.52,88.46,442,92.8Z")
							path(fill="#fff" d="M463.85,84.32c3.06-2.15,6.91-.87,10,.43-.12.49-.35,1.47-.46,2-2.45-1.5-5.65-2.77-8.35-1.12a3.32,3.32,0,0,0-.36,5.6c2.74,1.8,6.24,2.16,8.82,4.25,2.78,2.43,1.82,7.45-1.53,8.88-4,1.82-8.66.45-11.88-2.29l1.56-1c2.46,1.72,5.45,3.08,8.5,2.17,2.66-.48,4.16-4.37,2-6.24-2.59-2.51-6.61-2.51-9.32-4.87A5,5,0,0,1,463.85,84.32Z")
				ul.menu#accordion(style="margin-bottom:-1px")
					li
						a(href="#!" data-toggler="toggle" data-toggler-target="#demo5a" data-toggler-collection="#accordion") Applications
							ul.js-toggler.is-visible.accordion__content#demo5a
								li
									a.tab-link(href="#demo6a" data-toggler="tabs" data-toggler-collection="#tabs") Nice app 1
								li
									a.tab-link(href="#demo6f" data-toggler="tabs" data-toggler-collection="#tabs") Nice app 2
					li
						a.tab-link(href="#demo6b" data-toggler="tabs" data-toggler-collection="#tabs") Documentation
					li
						a.tab-link(href="#demo6c" data-toggler="tabs" data-toggler-collection="#tabs") Settings
					li
						a.tab-link(href="#demo6d" data-toggler="tabs" data-toggler-collection="#tabs") Support
					li
						a.tab-link(href="#demo6e" data-toggler="tabs" data-toggler-collection="#tabs") Log out
		.l-col-xl-10.l-col-lg-12.content-col
			.content
				section.content__item
					.content-header
						.content-header__item.content-header__item--btn.js_btn_wrap
							a.btn-border.content-header__btn("href=#!")
								i.icon-arrowleft.btn-icon
								| Back
						.content-header__item.content-header__item--title.js_title_wrap
							h1 Administration
				section.content__item
					div#tabs.tabs
						div.js-toggler.is-fade.is-visible#demo6a
							div#Applications
								.searchbar
									.searchbar__item
										div.input-wrap
											input.search(placeholder="Search for something…")
											i.icon-search.input-wrap__icon
									.searchbar__item
										span.registered-services
											span 4
											| services enregistrés
									.searchbar__item.searchbar__item--btn
										a.btn-fill("href=#!") add
								.table-wrap
									table.table
										tbody.list
											tr
												th Title
												th Role
												th Service
												th Company
												th Status
												th Date
												th Actions
											tr
												td
													span.js_title.table__title Title 1
												td
													span.js_role.table__role SUPER_ADMIN
												td
													span.js_service.table__service Production
												td
													span.js_company.table__company Aboutgoods
												td
													span.js_status.table__status.connected Connected
												td
													span.js_date.table__date 19/12/2019
												td
													span.icon-more.table__btn-more.js_more
														svg.circle-chart(viewbox="0 0 33.83098862 33.83098862" width="30" height="30" xmlns="http://www.w3.org/2000/svg")
															circle.circle-chart__circle(stroke-width="1" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
														span.table__btn-more-hidden
															ul
																li
																	a("href=#!") delete
																li
																	a("href=#!") print
																li
																	a("href=#!") see details
													span.icon-edit.table__btn-edit
											tr
												td
													span.js_title.table__title Title 2
												td
													span.js_role.table__role ADMIN
												td
													span.js_service.table__service Production
												td
													span.js_company.table__company Aboutgoods
												td
													span.js_status.table__status.connected Connected
												td
													span.js_date.table__date 19/10/2015
												td
													span.icon-more.table__btn-more.js_more
														svg.circle-chart(viewbox="0 0 33.83098862 33.83098862" width="30" height="30" xmlns="http://www.w3.org/2000/svg")
															circle.circle-chart__circle(stroke-width="1" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
														span.table__btn-more-hidden
															ul
																li
																	a("href=#!") delete
																li
																	a("href=#!") print
																li
																	a("href=#!") see details
													span.icon-edit.table__btn-edit
											tr
												td
													span.js_title.table__title Title 3
												td
													span.js_role.table__role ADMIN
												td
													span.js_service.table__service Production
												td
													span.js_company.table__company Aboutgoods
												td
													span.js_status.table__status.connected Connected
												td
													span.js_date.table__date 19/10/2015
												td
													span.icon-more.table__btn-more.js_more
														svg.circle-chart(viewbox="0 0 33.83098862 33.83098862" width="30" height="30" xmlns="http://www.w3.org/2000/svg")
															circle.circle-chart__circle(stroke-width="1" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
														span.table__btn-more-hidden
															ul
																li
																	a("href=#!") delete
																li
																	a("href=#!") print
																li
																	a("href=#!") see details
													span.icon-edit.table__btn-edit
											tr
												td
													span.js_title.table__title Title 4
												td
													span.js_role.table__role SUPER_ADMIN
												td
													span.js_service.table__service Production
												td
													span.js_company.table__company Aboutgoods
												td
													span.js_status.table__status.connected Connected
												td
													span.js_date.table__date 19/12/2019
												td
													span.icon-more.table__btn-more.js_more
														svg.circle-chart(viewbox="0 0 33.83098862 33.83098862" width="30" height="30" xmlns="http://www.w3.org/2000/svg")
															circle.circle-chart__circle(stroke-width="1" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
														span.table__btn-more-hidden
															ul
																li
																	a("href=#!") delete
																li
																	a("href=#!") print
																li
																	a("href=#!") see details
													span.icon-edit.table__btn-edit
											tr
												td
													span.js_title.table__title Title 5
												td
													span.js_role.table__role ADMIN
												td
													span.js_service.table__service Production
												td
													span.js_company.table__company Aboutgoods
												td
													span.js_status.table__status.connected Connected
												td
													span.js_date.table__date 19/10/2015
												td
													span.icon-more.table__btn-more.js_more
														svg.circle-chart(viewbox="0 0 33.83098862 33.83098862" width="30" height="30" xmlns="http://www.w3.org/2000/svg")
															circle.circle-chart__circle(stroke-width="1" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
														span.table__btn-more-hidden
															ul
																li
																	a("href=#!") delete
																li
																	a("href=#!") print
																li
																	a("href=#!") see details
													span.icon-edit.table__btn-edit
											tr
												td
													span.js_title.table__title Title 6
												td
													span.js_role.table__role ADMIN
												td
													span.js_service.table__service Production
												td
													span.js_company.table__company Aboutgoods
												td
													span.js_status.table__status.disconnected Disonnected
												td
													span.js_date.table__date 19/10/2015
												td
													span.icon-more.table__btn-more.js_more
														svg.circle-chart(viewbox="0 0 33.83098862 33.83098862" width="30" height="30" xmlns="http://www.w3.org/2000/svg")
															circle.circle-chart__circle(stroke-width="1" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
														span.table__btn-more-hidden
															ul
																li
																	a("href=#!") delete
																li
																	a("href=#!") print
																li
																	a("href=#!") see details
													span.icon-edit.table__btn-edit
											tr
												td
													span.js_title.table__title Title 7
												td
													span.js_role.table__role SUPER_ADMIN
												td
													span.js_service.table__service Production
												td
													span.js_company.table__company Aboutgoods
												td
													span.js_status.table__status.connected Connected
												td
													span.js_date.table__date 19/12/2019
												td
													span.icon-more.table__btn-more.js_more
														svg.circle-chart(viewbox="0 0 33.83098862 33.83098862" width="30" height="30" xmlns="http://www.w3.org/2000/svg")
															circle.circle-chart__circle(stroke-width="1" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
														span.table__btn-more-hidden
															ul
																li
																	a("href=#!") delete
																li
																	a("href=#!") print
																li
																	a("href=#!") see details
													span.icon-edit.table__btn-edit
											tr
												td
													span.js_title.table__title Title 8
												td
													span.js_role.table__role ADMIN
												td
													span.js_service.table__service Production
												td
													span.js_company.table__company Aboutgoods
												td
													span.js_status.table__status.disconnected Disonnected
												td
													span.js_date.table__date 19/10/2015
												td
													span.icon-more.table__btn-more.js_more
														svg.circle-chart(viewbox="0 0 33.83098862 33.83098862" width="30" height="30" xmlns="http://www.w3.org/2000/svg")
															circle.circle-chart__circle(stroke-width="1" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431")
														span.table__btn-more-hidden
															ul
																li
																	a("href=#!") delete
																li
																	a("href=#!") print
																li
																	a("href=#!") see details
													span.icon-edit.table__btn-edit
						div.js-toggler.is-fade#demo6b
							div Documentation
						div.js-toggler.is-fade#demo6c
							div Settings
						div.js-toggler.is-fade#demo6d
							div Support
						div.js-toggler.is-fade#demo6e
							div Log out
						div.js-toggler.is-fade#demo6f
							div Nice app 2


include modules/html-footer
