@font-face
  font-family: 'iconFont'
  src: url('../fonts/iconFont.eot')
  src: url('../fonts/iconFont.eot') format('embedded-opentype'),
  url('../fonts/iconFont.ttf') format('truetype'),
  url('../fonts/iconFont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'FuturaPT'
  src: url('../fonts/FuturaPT.eot')
  src: url('../fonts/FuturaPT?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT.woff2') format('woff2')
  font-weight: 400
  font-style: normal

// Font Variable
$font: 'FuturaPT', Arial, Helvetica, sans-serif